/* * {
    border-color: aliceblue;
    border: 1px solid #fdfdfe
} */

body {
    margin: 0px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
	margin-top: 15px;
	margin-bottom: 0px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 60px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.size-1 {
	height: 40px;
	margin-bottom: 20px;
}

.size-2 {
    height: 75px;
}

.gallow-wrapper {
	display: flex;
}

.gallow-image {
	display: flex;
	margin: 0px;
	padding: 0px;
}

#usedLetterDisplay {
    font-size: 40px;
    font-weight: 200;
}

#wordDisplay {
    height: 50px;
}

#gameStatus {
    font-size: 40px;
    font-weight: 200;
}

#secretWord {
    font-size: 20px;
    font-weight: 200;
}

.input {
	appearance: none;
	border: none;
	outline: none;
    border-top: .1em solid rgb(255, 255, 255);
	border-bottom: .1em solid rgb(255, 255, 255);
	background: hsl(0 0 0/0);
	border-radius: .4em;
	padding: .5em .5em;
	color: #ffffff;
    width: 300px;
    text-align: center;
    &:focus {
		border-top: .2em solid rgb(100, 101, 136);
	    border-bottom: .2em solid rgb(100, 101, 136);
		padding: .8em .8em;
	}
}

.input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
} 

.button {
	appearance: none;
	font-size: 15px;
    font-weight: 200;
    border: none;
    border-top: .3em solid rgb(255, 255, 255);
	border-bottom: .3em solid rgb(255, 255, 255);
	background: hsl(0 0 0/0);
	padding: .75em 1em;
	color: #ffffff;
	border-radius: 1em;
	transition: 0.5s;
	&:hover {
		color: rgb(255, 255, 255);
	    border-bottom: .3em solid rgb(100, 101, 136);;
        border-top: .3em solid rgb(100, 101, 136);
	    border-bottom: .3em solid rgb(100, 101, 136);
		padding: .85em 1.5em;
	}
}

.keyboard-wrapper {
	display: flex;
}

.keyboard-top {
	display: flex;
	flex-direction: row;
}

.keyboard-middle {
	display: flex;
	flex-direction: row;
}

.keyboard-bottom {
	display: flex;
	flex-direction: row;
}

.keyboard-button {
	appearance: none;
	font-size: 20px;
    font-weight: 200;
    border: none;
    border-top: .2em solid rgb(255, 255, 255);
	border-bottom: .2em solid rgb(255, 255, 255);
	background: hsl(0 0 0/0);
	padding: .75em 1em;
	margin: .2em;
	width: 3em;
	text-align: center;
	color: #ffffff;
	border-radius: 0.75em;
	transition: 0.5s;
	&:hover {
		color: rgb(255, 255, 255);
	    border-bottom: .25em solid rgb(100, 101, 136);;
        border-top: .25em solid rgb(100, 101, 136);
	    border-bottom: .25em solid rgb(100, 101, 136);
		padding: .70em 1em;
	}
}

.keyboard-placeholder {
	visibility: hidden;
}